extends base

mixin star(product)
    each star in [1,2,3,4,5]
        span
            svg.star(class=`star--${Math.round(product.ratingsAverage) >= star ? 'full':''}`)
                use(xlink:href='/images/sprite.svg#icon-star-full')

mixin star()
    for x in [1,2,3,4,5]   
        span
            svg.star(class='star--full')
                use(xlink:href='./images/sprite.svg#icon-star-full')

block content
    .glide.hero__glide
        .glide__track(data-glide-el='track')
            ul.glide__slides
                li.glide__slide
                    .hero
                        .header__container
                            .header__description
                                h3.header__label New Inspiration 2020
                                h1.header__title PHONES MADE FOR YOU!
                                p.header__paragraph
                                    | Trending mobile in 2021
                                a.header__btn(href='/category/phones') SHOP NOW
                            .header__banner
                                img.header__image(src='/images/banner_01.png' alt='banner_1')
        .glide__arrows(data-glide-el='controls')
            button.glide__arrow.glide__arrow--left(data-glide-dir='<')
                svg
                    use(xlink:href='/images/sprite.svg#icon-arrow-left2')
            button.glide__arrow.glide__arrow--right(data-glide-dir='>')
                svg
                    use(xlink:href='/images/sprite.svg#icon-arrow-right2')
    section.product
        .product__category
            h2 Latest products
        .products__cart
            .glide.latest__product--glide
                .glide__track(data-glide-el='track')
                    ul.glide__slides
                        each product in latestProducts
                            li.glide__slide
                                .cart
                                    img.cart__image(src=`/images/${product.imageCover}` alt=`${product.name}`)
                                    a.cart__title(href=`/product/${product.slug}`)=product.name
                                    .rating
                                        +star(product)

                                    h2.cart__price= `${product.price}$`
                                    a.cart__btn(href='#') Add to cart
                .glide__arrows(data-glide-el='controls')
                    button.glide__arrow.glide__arrow--left(data-glide-dir='<')
                        svg
                            use(xlink:href='/images/sprite.svg#icon-arrow-left2')
                    button.glide__arrow.glide__arrow--right(data-glide-dir='>')
                        svg
                            use(xlink:href='/images/sprite.svg#icon-arrow-right2')
        .product__category
            h2 Trending products
        .products__cart
            .glide.trending__product--glide
                .glide__track(data-glide-el='track')
                    ul.glide__slides
                        each product in trendingProducts
                            li.glide__slide
                                .cart
                                    img.cart__image(src=`/images/${product.imageCover}` alt=`${product.name}`)
                                    a.cart__title(href=`/product/${product.slug}`)=product.name
                                    .rating
                                        +star(product)

                                    h2.cart__price= `${product.price}$`
                                    a.cart__btn(href='#') Add to cart
                .glide__arrows(data-glide-el='controls')
                    button.glide__arrow.glide__arrow--left(data-glide-dir='<')
                        svg
                            use(xlink:href='/images/sprite.svg#icon-arrow-left2')
                    button.glide__arrow.glide__arrow--right(data-glide-dir='>')
                        svg
                            use(xlink:href='/images/sprite.svg#icon-arrow-right2')
    section.feature
        .feature__item
            span
                svg
                    use(xlink:href='./images/sprite.svg#icon-truck')
            h4.feature__title FREE SHIPPING
        .feature__item
            span
                svg
                    use(xlink:href='./images/sprite.svg#icon-heart-o')
            h4.feature__title 100% ORIGINAL
        .feature__item
            span
                svg
                    use(xlink:href='./images/sprite.svg#icon-location')
            h4.feature__title PAY ON DELIVERY
        .feature__item
            span
                svg
                    use(xlink:href='./images/sprite.svg#icon-phone')
            h4.feature__title 24/7 ONLINE SUPPORT
    section.testimonial
        .testimonial__item
            .user__photo
                img(src='./images/profile1.jpg' alt='')
            .user__name John
            .rating
                +star()

            .user__review
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo a nihil sit eligendi vel tenetur molestias.
        .testimonial__item
            .user__photo
                img(src='./images/profile2.jpg' alt='')
            .user__name Jenifer
            .rating
                +star()
            .user__review
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo a nihil sit eligendi vel tenetur molestias.
        .testimonial__item
            .user__photo
                img(src='./images/profile3.jpg' alt='')
            .user__name Michle
            .rating
               +star()
            .user__review
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo a nihil sit eligendi vel tenetur molestias.
        .testimonial__item
            .user__photo
                img(src='./images/profile4.jpg' alt='')
            .user__name Sharon
            .rating
                +star()
            .user__review
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo a nihil sit eligendi vel tenetur molestias.

    script(src='/js/glide/glide.min.js')
    script.
        new Glide('.hero__glide', {
        type: 'carousel',
        startAt: 0,
        autoplay: 4000,
        hoverpause: true,
        perView: 1,
        animationDuration: 1500,
        animationTimingFunc: 'linear'
        }).mount();

        new Glide('.latest__product--glide', {
        type: 'carousel',
        startAt: 0,
          autoplay: 6000,
        hoverpause: true,
        perView: 4,
        animationDuration: 1000,
        animationTimingFunc: 'linear',
        breakpoints: {
            1024: {
            perView: 3
            },
            768: {
            perView: 2
            },
            600: {
            perView: 1
            }
        }
        }).mount();

        new Glide('.trending__product--glide', {
        type: 'carousel',
        startAt: 0,
        autoplay: 6000,
        hoverpause: true,
        perView: 4,
        animationDuration: 1000,
        animationTimingFunc: 'linear',
        breakpoints: {
            1024: {
            perView: 3
            },
            768: {
            perView: 2
            },
            600: {
            perView: 1
            }
        }
        }).mount();